<a href="https://colab.research.google.com/github/AnnalisaGibbs/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/_AG_sprint1_mod1assignment_Copy_of_LS_DS_111_Exploratory_Data_Analysis_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice Loading and Exploring Datasets

This assignment is purposely open-ended. You will be asked to load datasets from the [UC-Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php). 

Even though you maybe using different datasets than your fellow classmates, try and be supportive and assist each other in the challenges that you are facing. You will only deepend your understanding of these topics as you work to assist one another. Many popular UCI datasets face similar data loading challenges.

Remember that the UCI datasets do not necessarily have a file type of `.csv` so it's important that you learn as much as you can about the dataset before you try and load it. See if you can look at the raw text of the file either locally or using the `!curl` shell command -or in some other way before you try and read it in as a dataframe. This will help you catch what would otherwise be unforseen problems.

Feel free to embellish this notebook with additional markdown cells,code cells, comments, graphs, etc. Whatever you think helps adequately address the questions.

## 1) Load a dataset from UCI (via its URL)

Please navigate to the home page and choose a dataset (other than the Adult dataset) from the "Most Popular" section on the right-hand side of the home page. Load the dataset via its URL and check the following (show your work):

- Are the headers showing up properly?
- Look at the first 5 and the last 5 rows, do they seem to be in order?
- Does the dataset have the correct number of rows and columns as described in the UCI page? 
 - Remember, that UCI does not count the y variable (column of values that we might want to predict via a machine learning model) as an "attribute" but rather as a "class attribute" so you may end up seeing a number of columns that is one greater than the number listed on the UCI website.
- Does UCI list this dataset as having missing values? Check for missing values and see if your analysis corroborates what UCI reports?
- if `NaN` values or other missing value indicators are not being detected by `df.isnull().sum()` find a way to replace whatever is indicating the missing values with `np.NaN`.
- Use the .describe() function in order to see the summary statistics of both the numeric and non-numeric columns.

In [0]:
# TODO your work here!
# And note you should write comments, descriptions, and add new
# code and text blocks as needed
bridge_data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/bridges/bridges.data.version1'
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/bridges/bridges.data.version1

E1,M,3,1818,HIGHWAY,?,2,N,THROUGH,WOOD,SHORT,S,WOOD
E2,A,25,1819,HIGHWAY,1037,2,N,THROUGH,WOOD,SHORT,S,WOOD
E3,A,39,1829,AQUEDUCT,?,1,N,THROUGH,WOOD,?,S,WOOD
E5,A,29,1837,HIGHWAY,1000,2,N,THROUGH,WOOD,SHORT,S,WOOD
E6,M,23,1838,HIGHWAY,?,2,N,THROUGH,WOOD,?,S,WOOD
E7,A,27,1840,HIGHWAY,990,2,N,THROUGH,WOOD,MEDIUM,S,WOOD
E8,A,28,1844,AQUEDUCT,1000,1,N,THROUGH,IRON,SHORT,S,SUSPEN
E9,M,3,1846,HIGHWAY,1500,2,N,THROUGH,IRON,SHORT,S,SUSPEN
E10,A,39,1848,AQUEDUCT,?,1,N,DECK,WOOD,?,S,WOOD
E11,A,29,1851,HIGHWAY,1000,2,N,THROUGH,WOOD,MEDIUM,S,WOOD
E12,A,39,1853,RR,?,2,N,DECK,WOOD,?,S,WOOD
E14,M,6,1856,HIGHWAY,1200,2,N,THROUGH,WOOD,MEDIUM,S,WOOD
E13,A,33,1856,HIGHWAY,?,2,N,THROUGH,WOOD,?,S,WOOD
E15,A,28,1857,RR,?,2,N,THROUGH,WOOD,?,S,WOOD
E16,A,25,1859,HIGHWAY,1030,2,N,THROUGH,IRON,MEDIUM,S-F,SUSPEN
E17,M,4,1863,RR,1000,2,N,THROUGH,IRON,MEDIUM,?,SIMPLE-T
E18,A,28,1864,RR,1200,2,N,THROUGH,IRON,SHORT,S,SIMPLE-T
E19,A,29,1866,HIGHWAY,1000,2,N,THROUGH,WOOD,MEDIUM,S,WOOD
E20,A,32,1870,HIGHWAY,1000,2,N,THROUGH,WOOD,MEDIUM,S,WOOD
E21,M,16,1874,RR,?,2,?,THROUGH,IRON,?,?,SIMPLE-T
E23,M,1,1876,HIGHWAY,1245,?,?,THROUGH,STEEL,LONG,F,SUSPEN
E22,A,24,1876,HIGHWAY,1200,4,G,THROUGH,WOOD,SHORT,S,WOOD
E24,O,45,1878,RR,?,2,G,?,STEEL,?,?,SIMPLE-T
E25,M,10,1882,RR,?,2,G,?,STEEL,?,?,SIMPLE-T
E27,A,39,1883,RR,?,2,G,THROUGH,STEEL,?,F,SIMPLE-T
E26,M,12,1883,RR,1150,2,G,THROUGH,STEEL,MEDIUM,S,SIMPLE-T
E30,A,31,1884,RR,?,2,G,THROUGH,STEEL,MEDIUM,F,SIMPLE-T
E29,A,26,1884,HIGHWAY,1080,2,G,THROUGH,STEEL,MEDIUM,?,SUSPEN
E28,M,3,1884,HIGHWAY,1000,2,G,THROUGH,STEEL,MEDIUM,S,ARCH
E32,A,30,1887,HIGHWAY,?,2,G,THROUGH,IRON,MEDIUM,F,SIMPLE-T
E31,M,8,1887,RR,1161,2,G,THROUGH,STEEL,MEDIUM,S,SIMPLE-T
E34,O,41,1888,RR,4558,2,G,THROUGH,STEEL,LONG,F,SIMPLE-T
E33,M,19,1889,HIGHWAY,1120,?,G,THROUGH,IRON,MEDIUM,F,SIMPLE-T
E36,O,45,1890,HIGHWAY,?,2,G,THROUGH,IRON,SHORT,F,SIMPLE-T
E35,A,27,1890,HIGHWAY,1000,2,G,THROUGH,STEEL,MEDIUM,F,SIMPLE-T
E38,M,17,1891,HIGHWAY,?,2,G,THROUGH,IRON,MEDIUM,F,SIMPLE-T
E37,M,18,1891,RR,1350,2,G,THROUGH,STEEL,MEDIUM,S,SIMPLE-T
E39,A,25,1892,HIGHWAY,?,2,G,THROUGH,STEEL,MEDIUM,F,SIMPLE-T
E4,A,27,1892,AQUEDUCT,1092,1,N,THROUGH,WOOD,SHORT,S,WOOD
E40,M,22,1893,HIGHWAY,?,2,G,THROUGH,STEEL,MEDIUM,F,SIMPLE-T
E41,M,11,1894,HIGHWAY,?,2,G,THROUGH,IRON,MEDIUM,F,SIMPLE-T
E42,M,9,1895,HIGHWAY,2367,2,G,THROUGH,STEEL,LONG,F,SIMPLE-T
E44,O,48,1896,HIGHWAY,?,2,G,THROUGH,STEEL,LONG,F,SUSPEN
E43,M,7,1896,HIGHWAY,1040,2,G,THROUGH,STEEL,LONG,F,ARCH
E46,A,37,1897,RR,4000,2,G,DECK,STEEL,LONG,F,SIMPLE-T
E45,M,14,1897,RR,2264,?,G,THROUGH,STEEL,?,F,SIMPLE-T
E47,M,15,1898,RR,2000,2,G,THROUGH,STEEL,MEDIUM,S,SIMPLE-T
E58,A,33,1900,HIGHWAY,1200,2,G,THROUGH,STEEL,MEDIUM,F,SIMPLE-T
E48,A,38,1900,HIGHWAY,2000,2,G,THROUGH,STEEL,MEDIUM,F,SIMPLE-T
E94,M,13,1901,RR,?,2,G,THROUGH,STEEL,LONG,F,SIMPLE-T
E49,A,34,1902,HIGHWAY,1850,2,G,THROUGH,STEEL,MEDIUM,F,CANTILEV
E95,M,16,1903,RR,1300,2,G,THROUGH,STEEL,MEDIUM,S,SIMPLE-T
E87,A,35,1903,RR,3000,2,G,THROUGH,STEEL,MEDIUM,S,SIMPLE-T
E51,M,6,1903,RR,1417,2,G,THROUGH,STEEL,MEDIUM,F,SIMPLE-T
E50,M,21,1903,RR,1154,?,G,THROUGH,STEEL,LONG,F,SIMPLE-T
E89,M,4,1904,RR,1200,2,G,THROUGH,STEEL,MEDIUM,S-F,SIMPLE-T
E53,A,28,1904,RR,965,4,G,THROUGH,STEEL,MEDIUM,S-F,SIMPLE-T
E52,M,2,1904,RR,1504,?,G,THROUGH,STEEL,LONG,F,CANTILEV
E54,Y,?,1908,HIGHWAY,1240,?,G,?,STEEL,MEDIUM,F,SIMPLE-T
E56,M,23,1909,HIGHWAY,?,?,G,THROUGH,STEEL,MEDIUM,F,SIMPLE-T
E55,A,36,1909,HIGHWAY,1730,2,G,THROUGH,STEEL,LONG,F,SIMPLE-T
E57,O,49,1910,RR,1620,2,G,THROUGH,STEEL,LONG,F,CANTILEV
E59,O,43,1911,HIGHWAY,1652,2,G,THROUGH,STEEL,LONG,F,CANTILEV
E107,A,39,1914,RR,?,?,G,?,STEEL,?,F,NIL
E92,M,10,1914,RR,2210,?,G,THROUGH,STEEL,MEDIUM,F,SIMPLE-T
E61,O,41,1915,RR,2822,2,G,THROUGH,STEEL,LONG,F,SIMPLE-T
E60,A,24,1915,HIGHWAY,1000,4,G,THROUGH,STEEL,LONG,F,SIMPLE-T
E62,A,37,1918,RR,2300,2,N,DECK,STEEL,LONG,F,CONT-T
E63,A,31,1920,RR,2122,2,G,THROUGH,STEEL,MEDIUM,F,SIMPLE-T
E65,A,30,1921,WALK,?,?,G,THROUGH,STEEL,?,F,SUSPEN
E64,A,29,1923,HIGHWAY,885,4,G,THROUGH,STEEL,MEDIUM,F,ARCH
E66,A,32,1924,HIGHWAY,2365,4,G,THROUGH,STEEL,MEDIUM,S,ARCH
E70,A,27,1926,HIGHWAY,860,4,G,THROUGH,STEEL,MEDIUM,S-F,SUSPEN
E69,A,26,1926,HIGHWAY,884,4,G,THROUGH,STEEL,MEDIUM,S-F,SUSPEN
E101,O,46,1927,HIGHWAY,1770,2,G,THROUGH,STEEL,LONG,S-F,CANTILEV
E73,A,38,1927,HIGHWAY,1508,?,G,THROUGH,STEEL,MEDIUM,S,ARCH
E72,M,5,1927,HIGHWAY,2663,4,N,DECK,STEEL,MEDIUM,S-F,CANTILEV
E67,M,1,1927,HIGHWAY,1330,4,G,THROUGH,STEEL,LONG,F,CANTILEV
E75,A,30,1928,HIGHWAY,2678,4,G,DECK,STEEL,MEDIUM,F,ARCH
E74,M,20,1928,HIGHWAY,2220,2,G,DECK,STEEL,MEDIUM,S-F,CANTILEV
E71,A,25,1928,HIGHWAY,860,4,G,THROUGH,STEEL,MEDIUM,S-F,SUSPEN
E68,M,17,1928,HIGHWAY,2250,2,G,THROUGH,STEEL,MEDIUM,S,SIMPLE-T
E78,O,40,1931,HIGHWAY,1365,4,G,THROUGH,STEEL,LONG,F,ARCH
E77,O,42,1931,HIGHWAY,1450,4,N,THROUGH,STEEL,LONG,F,ARCH
E76,M,6,1931,HIGHWAY,1500,4,G,THROUGH,STEEL,LONG,F,SUSPEN
E93,M,11,1937,HIGHWAY,1690,4,N,DECK,STEEL,LONG,S-F,CONT-T
E79,A,34,1939,HIGHWAY,1800,4,G,DECK,STEEL,MEDIUM,F,CANTILEV
E108,A,39.5,1945,HIGHWAY,1060,4,G,DECK,STEEL,MEDIUM,S-F,CONT-T
E107N,A,39.7,1945,RR,840,2,G,THROUGH,STEEL,MEDIUM,S-F,SIMPLE-T
E105,A,38.5,1945,HIGHWAY,1710,2,N,DECK,STEEL,MEDIUM,S-F,CONT-T
E103,O,48,1945,HIGHWAY,2160,2,G,THROUGH,STEEL,LONG,F,CANTILEV
E97,Y,52,1945,HIGHWAY,?,?,G,THROUGH,STEEL,MEDIUM,S,ARCH
E96,Y,51,1945,RR,?,?,G,THROUGH,STEEL,MEDIUM,F,SIMPLE-T
E99,M,23,1950,HIGHWAY,1320,2,G,THROUGH,STEEL,MEDIUM,S-F,SIMPLE-T
E98,M,22,1951,HIGHWAY,900,4,G,THROUGH,STEEL,MEDIUM,F,CONT-T
E81,M,14,1951,HIGHWAY,2423,4,G,DECK,STEEL,LONG,F,CONT-T
E80,M,19,1951,HIGHWAY,1031,4,G,THROUGH,STEEL,LONG,F,CANTILEV
E88,A,37,1955,HIGHWAY,2300,4,N,DECK,STEEL,LONG,F,CONT-T
E82,O,42,1955,HIGHWAY,804,?,G,THROUGH,STEEL,?,F,SIMPLE-T
E102,O,47,1959,HIGHWAY,1700,2,G,THROUGH,STEEL,LONG,F,CONT-T
E83,M,1,1959,HIGHWAY,1000,6,G,THROUGH,STEEL,LONG,F,ARCH
E86,A,33,1961,HIGHWAY,980,4,G,DECK,STEEL,MEDIUM,S-F,CONT-T
E85,M,9,1962,HIGHWAY,2213,4,G,DECK,STEEL,LONG,F,CONT-T
E84,A,24,1969,HIGHWAY,870,6,G,THROUGH,STEEL,MEDIUM,F,ARCH
E91,O,44,1975,HIGHWAY,3756,6,G,THROUGH,STEEL,LONG,F,ARCH
E90,M,7,1978,HIGHWAY,950,6,G,THROUGH,STEEL,LONG,F,ARCH
E100,O,43,1982,HIGHWAY,?,?,G,?,?,?,F,?
E109,A,28,1986,HIGHWAY,?,?,G,?,?,?,F,?

In [0]:
import pandas as pd
bridges = pd.read_csv(bridge_data_url)
bridges.shape
bridges.head()

   E1  M   3  1818   HIGHWAY     ?  2  N  THROUGH  WOOD   SHORT  S WOOD.1
0  E2  A  25  1819   HIGHWAY  1037  2  N  THROUGH  WOOD   SHORT  S   WOOD
1  E3  A  39  1829  AQUEDUCT     ?  1  N  THROUGH  WOOD       ?  S   WOOD
2  E5  A  29  1837   HIGHWAY  1000  2  N  THROUGH  WOOD   SHORT  S   WOOD
3  E6  M  23  1838   HIGHWAY     ?  2  N  THROUGH  WOOD       ?  S   WOOD
4  E7  A  27  1840   HIGHWAY   990  2  N  THROUGH  WOOD  MEDIUM  S   WOOD

In [0]:
bridges.tail()

       E1  M   3  1818  HIGHWAY     ?  2  N  THROUGH   WOOD   SHORT  S WOOD.1
102   E84  A  24  1969  HIGHWAY   870  6  G  THROUGH  STEEL  MEDIUM  F   ARCH
103   E91  O  44  1975  HIGHWAY  3756  6  G  THROUGH  STEEL    LONG  F   ARCH
104   E90  M   7  1978  HIGHWAY   950  6  G  THROUGH  STEEL    LONG  F   ARCH
105  E100  O  43  1982  HIGHWAY     ?  ?  G        ?      ?       ?  F      ?
106  E109  A  28  1986  HIGHWAY     ?  ?  G        ?      ?       ?  F      ?

In [0]:
bridges.isnull().sum()

E1         0
M          0
3          0
1818       0
HIGHWAY    0
?          0
2          0
N          0
THROUGH    0
WOOD       0
SHORT      0
S          0
WOOD.1     0
dtype: int64

In [0]:
bridges.describe()

              1818
count   107.000000
mean   1906.130841
std      36.363750
min    1819.000000
25%    1884.000000
50%    1903.000000
75%    1928.000000
max    1986.000000

In [0]:

bridge_data = pd.read_csv(bridge_data_url, header=None, na_values = ['?'])
bridge_data.head()

   0  1     2     3         4       5    6  7        8     9      10 11    12
0  E1  M   3.0  1818   HIGHWAY     NaN  2.0  N  THROUGH  WOOD  SHORT  S  WOOD
1  E2  A  25.0  1819   HIGHWAY  1037.0  2.0  N  THROUGH  WOOD  SHORT  S  WOOD
2  E3  A  39.0  1829  AQUEDUCT     NaN  1.0  N  THROUGH  WOOD    NaN  S  WOOD
3  E5  A  29.0  1837   HIGHWAY  1000.0  2.0  N  THROUGH  WOOD  SHORT  S  WOOD
4  E6  M  23.0  1838   HIGHWAY     NaN  2.0  N  THROUGH  WOOD    NaN  S  WOOD

## 2) Load a dataset from your local machine.
Choose a second dataset from the "Popular Datasets" listing on UCI, but this time download it to your local machine instead of reading it in via the URL. Upload the file to Google Colab using the files tab in the left-hand sidebar or by importing `files` from `google.colab` The following link will be a useful resource if you can't remember the syntax: <https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92>

- Answer all of the same bullet point questions from part 1 again on this new dataset.

In [0]:
# TODO your work here!
# And note you should write comments, descriptions, and add new
# code and text blocks as needed
from google.colab import files
uploaded = files.upload()

Saving bridges.data.version1 to bridges.data.version1

## 3) Make Crosstabs of the Categorical Variables

Take whichever of the above datasets has more categorical variables and use crosstabs to tabulate the different instances of the categorical variables.

In [0]:
# Your Code Here

## 4) Explore the distributions of the variables of the dataset using:
- Histograms
- Scatterplots
- Density Plots

In [0]:
# Your Code Here

## 5) Create at least one visualization from a crosstab:

Remember that a crosstab is just a dataframe and can be manipulated in the same way by row index, column, index, or column/row/cell position.

In [0]:
# Your Code Here

## Stretch Goals 

The following additional study tasks are optional, they are intended to give you an opportunity to stretch yourself beyond the main requirements of the assignment. You can pick and choose from the below, you do not need to complete them in any particular order.

### - Practice Exploring other Datasets

### -  Try using the Seaborn plotting library's "Pairplot" functionality in order to explore all of the possible histograms and scatterplots of your dataset all at once:

[Seaborn Pairplot](https://seaborn.pydata.org/generated/seaborn.pairplot.html)

### - Turn some of the continuous variables into categorical variables by binning the values using:
- [pd.cut()](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.cut.html)
- [pd.qcut()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html)
- <https://stackoverflow.com/questions/30211923/what-is-the-difference-between-pandas-qcut-and-pandas-cut>

And then use crosstabs to compare/visualize these binned variables against the other variables.


### - Other types and sources of data
Not all data comes in a nice single file - for example, image classification involves handling lots of image files. You still will probably want labels for them, so you may have tabular data in addition to the image blobs - and the images may be reduced in resolution and even fit in a regular csv as a bunch of numbers.

If you're interested in natural language processing and analyzing text, that is another example where, while it can be put in a csv, you may end up loading much larger raw data and generating features that can then be thought of in a more standard tabular fashion.

Overall you will in the course of learning data science deal with loading data in a variety of ways. Another common way to get data is from a database - most modern applications are backed by one or more databases, which you can query to get data to analyze. We'll cover this more in our data engineering unit.

How does data get in the database? Most applications generate logs - text files with lots and lots of records of each use of the application. Databases are often populated based on these files, but in some situations you may directly analyze log files. The usual way to do this is with command line (Unix) tools - command lines are intimidating, so don't expect to learn them all at once, but depending on your interests it can be useful to practice.

One last major source of data is APIs: https://github.com/toddmotto/public-apis

API stands for Application Programming Interface, and while originally meant e.g. the way an application interfaced with the GUI or other aspects of an operating system, now it largely refers to online services that let you query and retrieve data. You can essentially think of most of them as "somebody else's database" - you have (usually limited) access.

*Stretch goal* - research one of the above extended forms of data/data loading. See if you can get a basic example working in a notebook. Image, text, or (public) APIs are probably more tractable - databases are interesting, but there aren't many publicly accessible and they require a great deal of setup.

In [0]:
import seaborn as sns